node_modules/
Frontend/node_modules/
Backend/node_modules/
.env
Frontend/.env
Backend/.env
dist/
Frontend/dist/
Backend/dist/
build/

Backend/server/.wwebjs_auth/
Backend/server/.wwebjs_cache/
Backend/server/invoices/

Backend/server/.wwebjs_auth/
Backend/server/.wwebjs_cache/
Backend/server/invoices/
